{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">

        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='index.css') }}">

        <title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>

        {% if config.generate_feed %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='atom.xml') }}">
        {% endif %}

        {% if config.extra.katex_enable %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
        {% endif %}
    </head>
    <body>
        {% block body %}
            <header class="mainpage-header">
                <h1>The (Site of) Davis</h1>
                {% for item in config.extra.menu %}
                <a class="big-link" href="{{ item.link }}">{{ item.text }}</a>
                {% endfor %}
            </header>
        {% endblock body %}
    </body>
</html>
