{{- $config := ( .Site.Params.settings.hideEntryNavigation ) -}}
{{- $configType := ( printf "%T" $config ) -}}

{{- if ( eq $configType "bool" ) -}}
  {{- $.Scratch.Set "showEntryNav" ( not $config ) -}}
{{- else -}}
  {{- $.Scratch.Set "showEntryNav" ( not ( in $config .Section ) ) -}}
{{- end -}}

{{- if ( $.Scratch.Get "showEntryNav" ) -}}

{{ if or .PrevInSection .NextInSection }}
<div class="other-posts-section">Other Posts</div>
<nav class="entry-navigation-container">
  <div class="entry-navigation">
    {{- if .PrevInSection -}}
    <span class='entry-prev'>
      <a href='{{ .PrevInSection.Permalink | relURL }}'>
        {{- partial "svg/icons" "prev" -}}
        {{- .PrevInSection.Title -}}
      </a>
    </span>
    {{- end -}}
    {{- if .NextInSection -}}
    <span class='entry-next'>
      <a href='{{ .NextInSection.Permalink | relURL }}'>
        {{- .NextInSection.Title -}}
        {{- partial "svg/icons" "next" -}}
      </a>
    </span>
    {{- end -}}

  </div>
</nav>
{{ end }}
{{- end -}}
