{% extends "index.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
{% endblock htmltitle %}

{% block body %}
    <div class="wrap">
        {{ macros::menu(base="top", separator=false) }}
        <div class="section" id="title">
            {% block title %}{% endblock title %}
        </div>
        <div class="section" id="content">
            {% block content %}{% endblock content %}
        </div>
        {{ macros::menu(base="bottom", separator=true) }}
        {{ macros::footer() }}
    </div>
{% endblock body %}
