{% macro title_or_last(component, offset=2) %}
    {% set length = component.components | length %}
    {% set name = component.components | slice(end=length - offset) | last %}
    {{ component.title | default(value=name) }}
{% endmacro title_or_last %}

{% macro format_date(date) %}
    {% set date_format = config.extra.date_format | default(value="%a %b %e, %Y") %}
    {{ date | date(format=date_format) }}
{% endmacro format_date %}

{% macro bottom_menu() %}
    {# I rewrote this from the original Sam theme to be better.) #}
    <div class="section bottom-menu">
        <hr />
        <nav class="bottom-menu-nav">
            <ul class="bottom-nav-list">
                <li class="bottom-nav-item">
                    <a class="bottom-nav-link" href="{{ config.base_url }}">
                        {{ config.extra.home | default(value="home") }}
                    </a>
                </li>
                {% if config.extra.sam_menu and config.extra.sam_bottom_menu %}
                    {% for link in config.extra.sam_menu %}
                    <li class="bottom-nav-item">
                        <a class="bottom-nav-link" href="{{ link.link }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ link.text }}</a>
                    </li>
                    {% endfor %}
                {% elif config.extra.sam_bottom_menu %}
                    {% set index = get_section(path="_index.md") %}
                    {% for current in index.subsections %}
                        {% set current = get_section(path=current) %}
                        <li class="bottom-nav-item">
                            <a class="bottom-nav-link" href="{{ current.permalink }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ macros::title_or_last(component=current) }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endmacro bottom_menu %}

{% macro menu(base, separator) %}
    {# I coped bottom_menu to make this... Would be cool if they were combined. #}
    <div class="section {{ base }}-menu">
        {% if separator %}
        <hr />
        {% endif %}
        <nav class="{{ base }}-menu-nav">
            <ul class="{{ base }}-nav-list">
                <li class="{{ base }}-nav-item">
                    <a class="{{ base }}-nav-link" href="{{ config.base_url }}">
                        {{ config.extra.home | default(value="home") }}
                    </a>
                </li>
                {% if config.extra.sam_menu and config.extra.sam_bottom_menu %}
                    {% for link in config.extra.sam_menu %}
                    <li class="{{ base }}-nav-item">
                        <a class="{{ base }}-nav-link" href="{{ link.link }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ link.text }}</a>
                    </li>
                    {% endfor %}
                {% elif config.extra.sam_bottom_menu %}
                    {% set index = get_section(path="_index.md") %}
                    {% for current in index.subsections %}
                        {% set current = get_section(path=current) %}
                        <li class="{{ base }}-nav-item">
                            <a class="{{ base }}-nav-link" href="{{ current.permalink }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ macros::title_or_last(component=current) }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endmacro menu %}

{% macro top_menu() %}
    {# I coped bottom_menu to make this... Would be cool if they were combined. #}
    <div class="section top-menu">
        <hr />
        <nav class="top-menu-nav">
            <ul class="top-nav-list">
                <li class="top-nav-item">
                    <a class="top-nav-link" href="{{ config.base_url }}">
                        {{ config.extra.home | default(value="home") }}
                    </a>
                </li>
                {% if config.extra.sam_menu and config.extra.sam_bottom_menu %}
                    {% for link in config.extra.sam_menu %}
                    <li class="top-nav-item">
                        <a class="top-nav-link" href="{{ link.link }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ link.text }}</a>
                    </li>
                    {% endfor %}
                {% elif config.extra.sam_bottom_menu %}
                    {% set index = get_section(path="_index.md") %}
                    {% for current in index.subsections %}
                        {% set current = get_section(path=current) %}
                        <li class="top-nav-item">
                            <a class="top-nav-link" href="{{ current.permalink }}" {% if link.text is containing("↪") %}target="_blank" {% endif %}>{{ macros::title_or_last(component=current) }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    </div>
{% endmacro top_menu %}

{% macro footer() %}
    {% if config.extra.sam_footer %}
        <div class="section footer">
            <div class="copyright">
                <span class="strikethrough">©</span> Steal this website.
            </div>
        </div>
    {% endif %}
{% endmacro footer %}
