{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block htmltitle %}
    {{ page.title }}  · {{ config.title }}
{% endblock htmltitle %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    {% if not page.extra.no_header %}
        {% if page.date %}
            {{ macros::format_date(date=page.date) }}
        {% endif %}
        {% if config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if page.date %}
                &#183; {{ page.word_count }} words
            {% else %}
                {{ page.word_count }} words
            {% endif %}
        {% endif %}
        {% if config.extra.show_reading_time and not page.extra.hide_reading_time %}
            {% set previous = config.extra.show_word_count and not page.extra.hide_word_count %}
            {% if previous or page.date %}
                &#183; {{ page.reading_time }} min
            {% else %}
                {{ page.reading_time }} min
            {% endif %}
        {% endif %}
        {% if page.taxonomies.tags %}
        <nav class="tag-container">
            <ul>
                {% for tag in page.taxonomies.tags %}
                <li class="tag">
                    <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
        <hr/>
    {% endif %}
    {% if page.extra.generate_toc %}
    <h1 class="toc-header">Table of Contents</h1>
    <div class="toc">
        <ul class="toc-level-1">
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul class="toc-level-2">
                        {% for h2 in h1.children %}
                        <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr/>
    {% endif %}
    {{ page.content | safe }}
{% endblock content %}
