{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination" role="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}">
    <svg viewBox='0 0 100 100' class='icon icon-left-open'><use xlink:href='#icon-left-open'></use></svg>
  </a>
  {{ else }}
  <svg viewBox='0 0 100 100' class='icon icon-left-open'><use xlink:href='#icon-left-open'></use></svg>
  {{ end }}
  <span>&nbsp;{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}&nbsp;</span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}">
    <svg viewBox='0 0 100 100' class='icon contact-icon icon-right-open'><use xlink:href='#icon-right-open'></use></svg>
  </a>
  {{ else }}
  <svg viewBox='0 0 100 100' class='icon contact-icon icon-right-open'><use xlink:href='#icon-right-open'></use></svg>
  {{ end }}
</nav>
{{ end }}
