<div class="pure-menu social">
  <ul class="pure-menu-list">

    <!--
    {{ if .RSSLink }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ .RSSLink }}">
        <svg viewBox="0 0 100 100" class="icon icon-rss-squared">
          <use xlink:href="#icon-rss-squared"></use>
        </svg>
        RSS
      </a>
    </li>
    {{ end }}
    -->

    <!-- SNS microblogging -->

    {{ with .Site.Social.twitter }}
    <li class="pure-menu-item">
      <!-- Twitter -->
      <a class="pure-menu-link" href="https://twitter.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-twitter-squared">
          <use xlink:href="#icon-twitter-squared"></use>
        </svg>
        Twitter
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.gnusocial }}
    <li class="pure-menu-item">
      <!-- fa-comment -->
      <a class="pure-menu-link" href="{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        GNU Social
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.facebook }}
    <li class="pure-menu-item">
      <!-- fa-facebook-square -->
      <a class="pure-menu-link" href="https://facebook.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Facebook
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.googleplus }}
    <li class="pure-menu-item">
      <!-- fa-google-plus-square -->
      <a class="pure-menu-link" href="https://plus.google.com/+{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Google +
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.weibo }}
    <li class="pure-menu-item">
      <!-- fa-weibo also should this be https if i ever use weibo for litterally some reason that may not happen? -->
      <a class="pure-menu-link" href="http://weibo.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Weibo
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.tumblr }}
    <li class="pure-menu-item">
      <!-- fa-tumblr-square -->
      <a class="pure-menu-link" href="http://weibo.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Tumblr
      </a>
    </li>
    {{ end }}

    <!-- SNS photo/video sharing -->

    {{ with .Site.Social.instagram }}
    <li class="pure-menu-item">
      <!-- fa-instagram -->
      <a class="pure-menu-link" href="https://instagram.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Instagram
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.flickr }}
    <li class="pure-menu-item">
      <!-- fa-flickr -->
      <a class="pure-menu-link" href="https://flickr.com/photos/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Flickr
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.photo500px }}
    <li class="pure-menu-item">
      <!-- fa-500px -->
      <a class="pure-menu-link" href="https://500px.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        500px
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.pinterest }}
    <li class="pure-menu-item">
      <!-- fa-pinterest-square -->
      <a class="pure-menu-link" href="https://pinterest.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Pinterest
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.youtube }}
    <li class="pure-menu-item">
      <!-- fa-youtube-square -->
      <a class="pure-menu-link" href="https://youtube.com/user/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        YouTube
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.vimeo }}
    <li class="pure-menu-item">
      <!-- fa-vimeo-square -->
      <a class="pure-menu-link" href="https://vimeo.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Vimeo
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.vine }}
    <li class="pure-menu-item">
      <!-- fa-vine -->
      <a class="pure-menu-link" href="https://vine.co/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Vine
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.slideshare }}
    <li class="pure-menu-item">
      <!-- fa-slideshare -->
      <a class="pure-menu-link" href="http://slideshare.net/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        SlideShare
      </a>
    </li>
    {{ end }}

    <!-- SNS career oriented -->

    {{ with .Site.Social.linkedin }}
    <li class="pure-menu-item">
      <!-- fa-linkedin-square -->
      <a class="pure-menu-link" href="https://linkedin.com/in/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        LinkedIn
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.xing }}
    <li class="pure-menu-item">
      <!-- fa-xing-square -->
      <a class="pure-menu-link" href="https://xing.com/profile/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Xing
      </a>
    </li>
    {{ end }}

    <!-- SNS news -->

    {{ with .Site.Social.reddit }}
    <li class="pure-menu-item">
      <!-- fa-reddit-square -->
      <a class="pure-menu-link" href="https://reddit.com/user/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Reddit
      </a>
    </li>
    {{ end }}

    <!-- Techie -->

    {{ with .Site.Social.hackernews }}
    <li class="pure-menu-item">
      <!-- fa-hacker-news -->
      <a class="pure-menu-link" href="https://news.ycombinator.com/user?id={{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Hacker News
      </a>
    </li>
    {{ end }}


    {{ with .Site.Social.github }}
    <li class="pure-menu-item">
      <!-- fa-github-square -->
      <a class="pure-menu-link" href="https://github.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-github-squared">
          <use xlink:href="#icon-github-squared"></use>
        </svg>
        GitHub
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <li class="pure-menu-item">
      <!-- fa-gitlab -->
      <a class="pure-menu-link" href="https://gitlab.com/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        GitLab
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.bitbucket }}
    <li class="pure-menu-item">
      <!-- fa-bitbucket-square -->
      <a class="pure-menu-link" href="https://bitbucket.org/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Bitbucket
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.stackoverflow }}
    <li class="pure-menu-item">
      <!-- fa-stack-overflow -->
      <a class="pure-menu-link" href="https://stackoverflow.com/users/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Stack Overflow
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.serverfault }}
    <li class="pure-menu-item">
      <!-- fa-server -->
      <a class="pure-menu-link" href="https://serverfault.com/users/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Server Fault
      </a>
    </li>
    {{ end }}

    <!-- Gaming -->

    {{ with .Site.Social.steam }}
    <li class="pure-menu-item">
      <!-- fa-steam-square -->
      <a class="pure-menu-link" href="https://steamcommunity.com/id/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Steam
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.mobygames }}
    <li class="pure-menu-item">
      <!-- fa-gamepad -->
      <a class="pure-menu-link" href="https://www.mobygames.com/developer/sheet/view/developerId,{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        MobyGames
      </a>
    </li>
    {{ end }}

    <!-- Music -->

    {{ with .Site.Social.lastfm }}
    <li class="pure-menu-item">
      <!-- fa-lastfm-square -->
      <a class="pure-menu-link" href="http://last.fm/user/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Last.fm
      </a>
    </li>
    {{ end }}

    {{ with .Site.Social.discogs }}
    <li class="pure-menu-item">
      <!-- fa-music -->
      <a class="pure-menu-link" href="https://www.discogs.com/user/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Discogs
      </a>
    </li>
    {{ end }}

    <!-- Other -->

    {{ with .Site.Social.keybase }}
    <li class="pure-menu-item">
      <!-- fa-key -->
      <a class="pure-menu-link" href="https://keybase.io/{{ . }}" target="_blank">
        <svg viewBox="0 0 100 100" class="icon icon-help-circled">
          <use xlink:href="#icon-help-circled"></use>
        </svg>
        Keybase
      </a>
    </li>
    {{ end }}
  </ul>
</div>
